[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.2"
cement = "==3.0.4"
jinja2 = "*"
pyyaml = "*"
colorlog = "*"
django-decouple = "==2.1"
djangorestframework = "==3.11.0"
django-cleanup = "*"

[requires]
python_version = "3.6"
