[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.0.2"
cement = "==3.0.4"
jinja2 = "==2.10.3"
pyyaml = "==5.2"
colorlog = "==4.1.0"
django-decouple = "==2.1"
djangorestframework = "==3.11.0"
pandas = "==0.25.3"
xlsxwriter = "==1.2.7"
django-cleanup = "==4.0.0"

[requires]
python_version = "3.6"
